<!DOCTYPE html>
<html>
  <head>
    <title>AVENUE SALON</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
    <body style="background:url(https://www.artsfon.com/pic/201801/1920x1080/artsfon.com-147070.jpg)">
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
