<h1>Add a client to</h1>

<form action="/clients" method="post">
  <input id="stylistid" name="stylistid" type="text" value="Input stylist id">

  <div class="form-group">
    <label for="name">Name</label>
    <label for="stylistid">Stylist Id</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Client</button>
</form>