<h1>Add a client </h1>

<form action="/clients" method="post">
  <input id="stylistid" name="stylistid" type="text" value="$stylist.getId()">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Client</button>
</form>